html {
    font-size: 28px;
}

body {
    margin: 0;
    font-family: 'Roboto', 'Sail';
    font-style: normal;
}

.imac-1 {
    width: 1280px;
    padding: 10px;
}

.imac-1 div {
    margin-bottom: 10px;
    min-height: 150px;
}

h1, h2, h3 {
    margin: 0;
    padding-left: 10px;
}

.imac-1 div:nth-child(odd) {
    width: 75%;
}

.imac-1 div:nth-child(even) {
    width: 50%;

}

.section_1 {
    background: #55B3B9;
}

.section_2 {
    background: #C56060;
}

.section_3 {
    background: #8FC091;
}

.section_4 {
    background: #8F86AF;
}

.imac-1 div.section:hover h1, .imac-1 div.section:hover h2, .imac-1 div.section:hover h3 {
    transform: scale(2);
    transition: 0.5s;
}

.imac-1 div.section.section_1:hover h1 {
    padding-left: 4.3em;
    padding-top: 0.15em;
}

.imac-1 div.section.section_1:hover h2 {
    padding-left: 5.73em;
    padding-top: 0.314em;
}

.imac-1 div.section.section_2:hover h2 {
    padding-left: 3.8em;
    padding-top: 0.314em;
}

.imac-1 div.section.section_2:hover h3 {
    padding-left: 5.73em;
    padding-top: 0.5em;
}

.imac-1 div.section.section_3:hover h2 {
    padding: 10px 0 0 0;
}

.imac-1 div.section.section_3:hover h3 {
    padding: 10px 0 0 0;
}

.imac-1 div.section.section_4:hover h2 {
    padding-left: 3.8em;
    padding-top: 0.3em;
}

.imac-1 div.section.section_4:hover h3 {
    padding-left: 5.73em;
    padding-top: 0.5em;
}

.section h1 {
    font-weight: 900;
    font-size: 2em;
    line-height: 66px;
    color: #222222;
}

.section h2 {
    font-weight: 500;
}

.section h3 {
    font-family: 'Sail';
    font-weight: 400;
}

.section_1 h2 {
    font-size: 1.5em;
    line-height: 49px;
    color: #222222;
}


.section_2 h2 {
    font-size: 1.5em;
    line-height: 49px;
    color: rgba(34, 34, 34, 0.69);

}

.section_2 h3 {
    font-size: 1em;
    line-height: 32px;
    color: rgba(34, 34, 34, 0.69);
}

.section_3 {
    text-transform: uppercase;
    text-align: center;
}

.section_3 h2 {
    font-size: 0.8em;
    line-height: 28px;
    text-align: center;
    color: rgba(34, 34, 34, 0.62);
}

.section_3 h3 {
    font-size: 0.5em;
    line-height: 18px;
    text-decoration-line: underline;
    color: rgba(34, 34, 34, 0.62);
}

.section_4 {
    text-decoration-line: line-through;
}

.section_4 h2 {
    font-weight: 800;
    font-size: 1.5em;
    line-height: 49px;
    color: rgba(46, 46, 46, 0.42);
}

.section_4 h3 {
    font-size: 1em;
    line-height: 32px;
    color: rgba(46, 46, 46, 0.42);
}
